<html>
<%- include("../partials/head") %>

<body>
    <%- include("../partials/nav") %>
    <h2>Add Game</h2>
    <form method="POST" action="/add">
        <div class="form-group">
            <label for="Name">Name</label>
            <input type="text" name="Name" id="Name" class="form-control">
        </div>
        <div class="form-group">
            <label for="Platform">Platform</label>
            <input type="text" name="Platform" id="Platform" class="form-control">
        </div>
        <div class="form-group">
            <label for="Year">Year</label>
            <input type="text" name="Year" id="Year" class="form-control">
        </div>
        <div class="form-group">
            <label for="Global_Sales">Global Sales</label>
            <input type="text" name="Global_Sales" id="Global_Sales" class="form-control">
        </div>
        <button class="btn btn-primary" type="submit">Submit</button>
    </form>
    <hr>
    <%- include("../partials/footer") %>
</body>

<script>

</script>

</html>